img {
    image-orientation: from-image;
    rotate: none;
    transform: rotate(0turn);
}

div.album img {
	max-width: 150%;
	max-height: 150%;
}

div.album {
	width: 100px;
	height: 100px;
	border: black;
	border-style: solid;
	border-width:2px;
	float: left;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

div.img-box img {
	max-width: 150%;
	max-height: 150%;
}

div.img-box {
	width: 100px;
	height: 100px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

div.cache {
	border: black;
	border-style: solid;
	border-width:2px;
}

div.sync {
	border: orange;
	border-style: dashed;
	border-width:2px;
}

div.syncok {
	border: green;
	border-style: groove;
	border-width:2px;
}

div.fullscreen {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	background-color: black;
}

div.fullscreen img {
	max-width:100%;
	max-height:100%;
}

div#div-add-img {
	background: url("/img/plus-square.png") no-repeat center; 
}

div#div-add-album {
	width: 100px;
	height: 100px;
	float: left;
	background: url("/img/plus-circle.png") no-repeat center; 
}

img.action {
	height: 60px
}

// icons from: https://feathericons.com/


